body {
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  margin: 0;
}

button {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(to bottom right, cornFlowerBlue, blue);
  outline: none;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 540;
  cursor: pointer;
}

.final {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-30%);
  width: 50%;
  height: auto;
  font-family: Comfortaa;
  color: #fff;
  line-height: 30px;
  border: 2px black solid;
  box-shadow: 2px 2px 12px black;
  border-radius: 10px;
  padding: 12px 12px;
  text-align: center;
  z-index: 990;
}

.alert {
  background-color: crimson;
  padding: .7em;
  font-family: Asap;
  color: white;
}

i {
  position: absolute;
  top: 30%;
  left: 45%;
}

@media (min-width: 1024px) {
  .output {
    width: 30%;
    transform: translate(-20%);
  }

  i {
    left: 47.5%;

  }
}